
html, body
{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#FFB6B8;

}
/*Header*/

header
{
	  position: fixed;
	  height: 64px;
	  width: 100%;
	  z-index: 10;
	  padding-right:5px;
	  display:block;

}

  header a
  {
	    color:#E8708B;;
	    font-size:34px;
	    padding:2px;
  
  }
.header_social
{		text-align:right;
		position: absolute;
		  right: 16px;
		  margin: 5px 0 0 0;
		  font-size: 16px;
  
}

.header_social a
{		text-align:right;
		position: absolute;
		  right: 16px;
		  margin: 5px 0 0 0;
		  font-size: 16px;
  
}

.header_social a:hover

{		color:white;
		text-align:right;
		position: absolute;
		  right: 16px;
		  margin: 5px 0 0 0;
		  font-size: 16px;
  
}
/*Menu*/
	.btn {
	    display: inline-block;
	    cursor: pointer;
	}
	.btn-navbar {
	    display: none;
	    float: left;
	    padding: 12px 15px;
	    margin-right: 5px;
	    margin-left: 5px;
	}
	
	.icon-bar {
	    display: block;
	    width: 18px;
	    height: 3px;
	    background-color: #CECECE;
	    -webkit-border-radius: 1px; /* Ce sont des préfixes, pour que les navigateurs */
	       -moz-border-radius: 1px; /* prennent en charge les nouvelles propriétés. */
	            border-radius: 1px;
	}
	
	.icon-bar + .icon-bar { /* Le + permet de sélectionner les éléments qui suivent */
	    margin-top: 3px;
	}
		.main_menu_btn {
			cursor: pointer;
			display: block;
			height: 48px;
			position: absolute;
			transform: translateZ(0px);
			width: 48px;
			z-index: 103;
			padding:10px;
			margin:7px 0 0 16px
			
		}
		.main_menu_block {
			width:100%;
			height:100%;
			position:fixed;
			z-index:11;
			top:0;
			display:block;
			
		
	}
		.menu_wrapper {
			transition:all 0.5s ease-out;
			left: -20%;
			height: 25%;
			position: relative;
		}
		.menu_wrapper.active {
			left: 0
		}
		.sub_menu, .sub_menu .menu-main-menu-container {
			background:#fff;
			width:300px;
			height:100%;
			position: absolute;
			transition:width 1s;
			display: -webkit-flex; 
			display: flex;
		}
			.sub_menu ul {
				position: relative;
				z-index:3;
				list-style:none;
				padding:0;
				margin:auto;
				list-style: decimal;
				list-style-type: none; /* Ð£Ð±Ð¸Ñ€Ð°ÐµÐ¼ Ð¸ÑÑ…Ð¾Ð´Ð½Ñ‹Ðµ Ð¼Ð°Ñ€ÐºÐµÑ€Ñ‹ */
    			counter-reset:  item; /* ÐžÐ±Ð½ÑƒÐ»ÑÐµÐ¼ ÑÑ‡ÐµÑ‚Ñ‡Ð¸Ðº ÑÐ¿Ð¸ÑÐºÐ° */
			}
				.sub_menu li {
					padding: 6px 0
				}
				.sub_menu li:before {
					content: '0' counter(item); 
  					counter-increment: item;
  					font:30px Great Vibes;
					display:inline-block;
					margin:0 20px 0 0
				}
				.sub_menu a {
					color:#666;
					font: 400 18px/28px Roboto Condensed;
					display:inline-block;
					padding:6px 0
				}

					.sub_menu a:before {
						width:1px;
						height:30px;
						background:#4f4f4f;
						display:inline-block;
						transform:skew(-17deg, 0deg);
						position:absolute;
						margin:2px 0 0 -10px;
						content:""
					}
			.sub_img {
				background-size:cover;
				width:100%;
				height:100%;
				left:300px;
				position:absolute;
				transition:width 1s;
			}
				.sub_img.active {
				}
			.sub_img:before {
				background:#fff;
				content:"";
				display:block;
				position:absolute;
				height:100%;
				transform:skew(-17deg, 0deg);
				width:100%;
				transform-origin:100% 100% 0;
				left:-100%;
				z-index:1;
				
		
			}
			.sub_img:after {
				content:"";
				display:block;
				position:absolute;
				height:100%;
				transform:skew(-17deg, 0deg);
				width:100%;
				transform-origin:100% 100% 0;
				left:-100%;
				z-index:2;
				border-right:1px solid rgba(255, 255, 255, 0.7);	
				margin:0 0 0 2px		
			}
		.main_menu_btn .line {
			background:#bdbdbd;
			border-radius: 1px;
			display: block;
			height: 2px;
			position: absolute;
			transform: translate(0, 0px);
			width: 26px;
			transition: transform 0.3s;
		}
			.line1 {
				top:14px
			}
			.line2 {
				top:23px
			}
			.line3 {
				top:32px
			}
				.main_menu_btn:hover .line1 {
					transform: translate(0, -2px);
				}
				.main_menu_btn:hover .line3 {
					transform: translate(0, 2px);
				}
				.main_menu_btn_open .line1, .main_menu_btn_open:hover .line1 {
					transform: translate(0, 9px) rotate(45deg);
				}
				.main_menu_btn_open .line2 {
					opacity: 0;
				}
				.main_menu_btn_open .line3, .main_menu_btn_open:hover .line3 {
					transform: translate(0, -9px) rotate(-45deg);
				}

/*Présentation*/
		#invitation
		{ 	background-size: 50%;
		  	background:url('images/wedding.jpg') center 0 no-repeat fixed;
		  	min-width: 100%;
		  	height: 550px;
		  	font-family: 'Roboto Condensed', sans-serif;
		  	box-shadow: 0 0 10px #555;
		  	margin-top:0;
		  
		  
		 
		}
		
		#titre_h1
			{color:white;
			font-family: 'Great Vibes', cursive;
			font-size:54px;
			text-align:center;
			padding-top:150px;
			margin:0;
		
		}
		
		
		#titre_h2
			{color:white;
			  font-size:40px;
			  font-family: 'Roboto Condensed', sans-serif;
			text-align:center;
		}


/*Leur histoire*/
		#titre_h3
		{	color:#E8708B;
			font-family: 'Great Vibes', cursive;
			font-size:36px;
			text-align:center;
			padding: 10px;
		}
		
		.titre_h4
		{	color:#E8708B;
			font-family: 'Great Vibes', cursive;
			font-size:30px;
			text-align:center;
			padding: 10px;
		}
		
		
		
		#coeur
		{	padding-top:20px;
			text-align:center;
			background-color:rgba(231, 132, 151, 0.4);
			border:4px solid rgba(231, 132, 151, 0.5);
			border-radius:20px;
			margin:10px;
		
		}
		  .image_coeur
		  {	border-radius: 150px;
		  	height:180px;
			box-shadow: 0px 0px 10px #343434;
			border:5px solid rgba(150, 150, 150, 0.4);
		   
		  }
		.texte
		{	font-size:16px;
			padding:10px;
			font-family: 'Roboto Condensed', sans-serif;
			text-align:justify;
		}
		
		
		#histoire
		{	height:auto;
			font-family: 'Roboto Condensed', sans-serif;
			background: url('images/background.png')center 0 repeat fixed;
			font-family: 'Roboto Condensed', sans-serif;
			box-shadow: 0 0 10px #555;
		
		
		}
		
		#hidden
		{	height:500px;
			z-index:-2;
		
		}

/*# Témoins*/
		#temoins
		{	  height:auto;
			  background:#FFD9DF center 0 no-repeat fixed;
			  font-family: 'Roboto Condensed', sans-serif;
			  padding:10px;
			  box-shadow: 0 0 10px #555
		 
		}

/*# Formulaire*/
		:required
{
    background-color: red;
}


/*# Lieu*/
		#lieu
		{	height:800px;
		  	background:url('images/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg') center 0 no-repeat fixed;
		  	font-family: 'Roboto Condensed', sans-serif;
		  	padding:10px;
		 
		}

/*# Se loger*/
		#dormir
		{	height:500px;
		  	background:url('images/green-bike.jpg') center 0 no-repeat fixed;
		  	font-family: 'Roboto Condensed', sans-serif;
		  	padding:10px;
		 
		}
		#se_loger
		{	height:350px;
		  	background:rgba(255, 255, 255, 0.5) center 0 no-repeat fixed;
		  	font-family: 'Roboto Condensed', sans-serif;
		  	margin:10px;
		 
		}

/*# Footer*/
		.footer {
			background-size:cover;
			background-repeat:no-repeat;
			background-position: top;
			background-color:#FFB6B8;
		}
			.footer .container {
				height: 100%
			}
			.footer .over {
				width:100%;
				height:100%;
				z-index:0;
				display:block;
				content:"";
				position:absolute;
				top:0;
				left:0
			}
			.thanks {
				font:45px/48px Great Vibes;
				text-align:center;
				margin-top:10px;
				color:white
			}
			.footer_txt {
				opacity: 0.8;
				padding:0 24px
			}
				.footer_social {
					text-align:center;
				}
				.footer_social a {
					height:48px;
					width:48px;
					display:inline-block;
					text-align:center;
					line-height:48px;
					color:#E8708B
				}
				.footer_social a:after {
						display:inline-block;
						content:"";
						position: absolute;
						width:1px;
						height:40px;
						transform:rotate(17deg);
						margin:6px 0 0 18px;
						background:#fff
					}
						.footer_social a:last-child:after{
							display:none
						}
	
				.copyrights {
				font:25px/27px Great Vibes;
				text-align:center;
				margin-top:10px;
				color:white;
				}
					
