
html, body
{
margin:0;
padding:0;
height:100%;
width:100%;
background-color:#FFB6B8;

}
header
{
  position: fixed;
  height: 64px;
  width: 100%;
  z-index: 10;

}

header a
{
  color:black;

}
#header_social
{
position: absolute;
  right: 16px;
  margin: 5px 0 0 0;
  font-size: 16px;
  
}
#titre_h1
{color:white;
font-family: 'Great Vibes', cursive;
font-size:54px;
text-align:center;
padding-top:50px;
margin:0;

}


#titre_h2
{color:white;
  font-size:40px;
  font-family: 'Roboto Condensed', sans-serif;
text-align:center;
}

#titre_h3
{color:black;
font-family: 'Great Vibes', cursive;
font-size:36px;
text-align:center;
padding: 10px;
}

.titre_h4
{color:black;
font-family: 'Great Vibes', cursive;
font-size:30px;
text-align:center;
padding: 10px;
}

#invitation
{ height:500px;
  background:#FFB6B8 center 0 no-repeat fixed;
  font-family: 'Roboto Condensed', sans-serif;
  box-shadow: 0 0 10px #555;
  width:100%;
  margin-top:0;
  
  
 
}

#coeur
{padding-top:20px;
text-align:center;
}

.texte
{font-size:16px;
padding:10px;
font-family: 'Roboto Condensed', sans-serif;
text-align:justify;
}


#histoire
{height:auto;
font-family: 'Roboto Condensed', sans-serif;
background: url('images/background.png')center 0 repeat fixed;
font-family: 'Roboto Condensed', sans-serif;
box-shadow: 0 0 10px #555;


}

#hidden
{height:500px;
z-index:-2;

}

#temoins
{height:auto;
  background:#FFD9DF center 0 no-repeat fixed;
  font-family: 'Roboto Condensed', sans-serif;
  padding:10px;
  box-shadow: 0 0 10px #555
 
}
.image_coeur
{border-radius: 150px;
  height:250px;
  box-shadow: 0px 0px 10px #343434
 
}

#lieu
{height:auto;
  background-image: url('images/background.png');
  font-family: 'Roboto Condensed', sans-serif;
  padding:10px;
  
 
}


