
html, body
{
margin:0;
padding:0;
height:100%;
width:100%;
background-color:#FFB6B8;

}
/*Header*/

header
{
  position: fixed;
  height: 64px;
  width: 100%;
  z-index: 10;
  text-align:right;
  padding-right:5px;

}

  header a
  {
    color:#E8708B;;
    font-size:34px;
    padding:2px;
  
  }
#header_social
{
position: absolute;
  right: 16px;
  margin: 5px 0 0 0;
  font-size: 16px;
  
}

/*Présentation*/
#titre_h1
{color:white;
font-family: 'Great Vibes', cursive;
font-size:54px;
text-align:center;
padding-top:50px;
margin:0;

}


#titre_h2
{color:white;
  font-size:40px;
  font-family: 'Roboto Condensed', sans-serif;
text-align:center;
}

#titre_h3
{color:black;
font-family: 'Great Vibes', cursive;
font-size:36px;
text-align:center;
padding: 10px;
}

.titre_h4
{color:black;
font-family: 'Great Vibes', cursive;
font-size:30px;
text-align:center;
padding: 10px;
}

#invitation
{ height:500px;
  background:#FFB6B8 center 0 no-repeat fixed;
  font-family: 'Roboto Condensed', sans-serif;
  box-shadow: 0 0 10px #555;
  width:100%;
  margin-top:0;
  
  
 
}

#coeur
{padding-top:20px;
text-align:center;
}
  .image_coeur
  {border-radius: 150px;
    height:250px;
    box-shadow: 0px 0px 10px #343434
   
  }
.texte
{font-size:16px;
padding:10px;
font-family: 'Roboto Condensed', sans-serif;
text-align:justify;
}


#histoire
{height:auto;
font-family: 'Roboto Condensed', sans-serif;
background: url('images/background.png')center 0 repeat fixed;
font-family: 'Roboto Condensed', sans-serif;
box-shadow: 0 0 10px #555;


}

#hidden
{height:500px;
z-index:-2;

}

/*# Témoins*/
#temoins
{height:auto;
  background:#FFD9DF center 0 no-repeat fixed;
  font-family: 'Roboto Condensed', sans-serif;
  padding:10px;
  box-shadow: 0 0 10px #555
 
}


/*# Lieu*/
#lieu
{height:auto;
  background-image: url('images/background.png');
  font-family: 'Roboto Condensed', sans-serif;
  padding:10px;
  
 
}

/*# Footer*/
.footer {
	background-size:cover;
	background-repeat:no-repeat;
	background-position: top;
}
	.footer .container {
		height: 100%
	}
	.footer .over {
		width:100%;
		height:100%;
		z-index:0;
		display:block;
		content:"";
		position:absolute;
		top:0;
		left:0
	}
	.thanks {
		font:45px/48px Great Vibes;
		text-align:center;
	}
	.footer_txt {
		opacity: 0.8;
		padding:0 24px
	}
		.footer_social {
			text-align:center;
		}
		.footer_social a {
			height:48px;
			width:48px;
			display:inline-block;
			text-align:center;
			line-height:48px;
			color:#E8708B
		}
		.footer_social a:after {
				display:inline-block;
				content:"";
				position: absolute;
				width:1px;
				height:40px;
				transform:rotate(17deg);
				margin:6px 0 0 18px;
				background:#fff
			}
				.footer_social a:last-child:after{
					display:none
				}
	

