# Wedding

html, body

{margin:0;
padding:0;
font-family: 'Roboto Condensed', sans-serif;
}

h1
{font-family: 'Great Vibes', cursive;
}


h2
{font-family: 'Roboto Condensed', sans-serif;
}

#invitation
{height:450px;}
