
body
{
margin-top:-10px;
padding:0;
height:100%;
font-family: 'Roboto Condensed', sans-serif;
}

#titre_h1
{color:white;
font-family: 'Great Vibes', cursive;
font-size:50px;
text-align:center;
padding-top:20px;

}


#titre_h2
{color:white;
  font-size:36px;
  font-family: 'Roboto Condensed', sans-serif;
text-align:center;
}

#titre_h3
{color:black;
font-family: 'Great Vibes', cursive;
font-size:34px;
text-align:center;
padding: 10px;
}

#invitation
{height:450px;
  background-color:rgb(186, 188, 211);
  position:static;
  font-family: 'Roboto Condensed', sans-serif;
  box-shadow: 0 0 10px #555
  padding:auto;
}

#coeur
{padding-top:20px;
text-align:center;
}


#histoire
{height:auto;
font-family: 'Roboto Condensed', sans-serif;
padding:20px;
}

#temoins
{height:auto;
  background-color:rgb(219, 216, 226);
  font-family: 'Roboto Condensed', sans-serif;
  padding:10px;
  box-shadow: 0 0 10px #555
 
}
