# Wedding

body

{margin:0px;
padding:0px;
height:100%;
font-family: 'Roboto Condensed', sans-serif;
}

h1
{color:white;
font-family: 'Great Vibes', cursive;
font-size:50px;
text-align:center;
}


h2
{color:white;
font-size:24px;
  font-family: 'Roboto Condensed', sans-serif;
text-align:center;
}

#invitation
{height:450px;
  background-color:#E4C1F9;
  position:static;
}
